* {
  box-sizing: border-box;
}

header {
  background-color: #f4f4f4;
  padding: 20px 0;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (Dark Blue): #092A3F
Tiertary Color (Light Blue): #0c3854;
White Color (White Smoke): #F4F4F4
*/
.center {
  text-align: center;
}

p {
  text-align: left;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  background-color: #ffffff;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
}

h2 {
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

h4 {
  font-size: 1.15em;
  font-weight: 500;
  margin-bottom: 10px;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin-top: 0;
}

ul>li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul {
  list-style-type: none;
  font-size: 15px;
  padding: 0;
  margin: 1em 0;
}

nav>ul>li>a {
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0c3854;
  text-decoration: none;
  display: block;
  border-bottom: 3px solid transparent;
}

nav>ul>li>a:visited {
  color: #0c3854;
}

nav>ul>li>a:hover {
  color: #092a3f;
  text-decoration: none;
  border-bottom: 2px solid #092a3f;
}

nav>ul>li>a:active {
  color: #092A3F;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: -50px;
  font-size: 20px;
  border-bottom: none;
}

.navtoggle.responsive li  {
  display: block;
}

.active {
  border-bottom: 2px solid #092a3f;
}

a.logo:hover {
  text-decoration: none
}

main {
  padding-top: 65px;
}

.project h2, .project h3, .project p, footer p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #f4f4f4;
  padding: 10px 0;
  text-align: center;
}

.copyright {
  font-size: 80%;
}

/* links */
a {
  color: #092a3f;
  text-decoration: none;
}

a:visited {
  color: #0c3854;
}

a:hover {
  color: #092a3f;
  text-decoration: underline;
}

a:focus {
  color: #092a3f;
  text-decoration: none;
}

a:active {
  color: #092a3f;
  text-decoration: underline;
}

/* main section buttons */
a.button {
  display: block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #092A3F;
  color: white;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  margin-top: 25px;
  border-radius: 25px;
  text-align: center;
  border: 2px solid #092A3F
    /* width of the border, type, color */
}

.button:hover {
  background-color: transparent;
  color: #092A3F;
  text-decoration: none;
}

/* prototype button */
.button.prototype {
  display: inline-block;
  background-color: #092A3F;
  color: #ffffff;
  width: 60%;
  text-transform: uppercase;
  border: 2px solid #092A3F;
}

.button.prototype:hover {
  background-color: #ffffff;
  color: #092A3F;
  /* text */
  text-decoration: none;
}

/* footer section buttons */
.button.contact {
  display: inline-block;
  background-color: transparent;
  color: #092A3F;
  width: 60%;
  text-transform: uppercase;
  border: 2px solid #092A3F;
}

.button.contact:hover {
  background-color: #092A3F;
  color: #ffffff;
  /* text */
  text-decoration: none;
}

/* button transition animation */
.button {
  display: inline-block;
  background-color: #092A3F;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #092A3F;
  transition: 0.2s opacity;
}

/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.8;
  color: #000000;
  text-decoration: none;
  max-width: 150px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.project .inner-container {
  margin: 4em auto;
}

#contact {
  text-align: center;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-top: 25px;
  padding-bottom: 50px;
  border-bottom: 1px solid #4a4a4a;
}

#work .row:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

#hero h1 {
  text-align: center;
}

#hero p {
  text-align: center;
}

#skills {
  text-align: center;
}

#skills h3 {
  text-align: center;
}

#tools {
  text-align: center;
}

#tools h3 {
  text-align: center;
}

#hero {
  background-color: #f4f4f4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* I'M A UX DESIGN */
span {
  display: block;
  margin-top: .5em;
  font-size: 70%;
}

.col-md-1 {
  width: 8.33%;
}

.col-md-2 {
  width: 16.66%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4 {
  width: 33.33%;
}

.col-md-5 {
  width: 41.66%;
}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 58.33%;
}

.col-md-8 {
  width: 66.66%;
}

.col-md-9 {
  width: 75%;
}

.col-md-10 {
  width: 83.33%;
}

.col-md-11 {
  width: 91.66%;
}

.col-md-12 {
  width: 100%;
}

/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  main {
    padding-top: 90px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: -45px;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  #profilepic img {
    max-width: 300px;
  }

  .inner-container {
    text-align: center;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    max-width: 250px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 60%;
  }
}
